<div>
  <h3>New Service</h3>
  <hr />

  <form
    #apptTypeForm="ngForm"
    (ngSubmit)="insertService()"
    autocomplete="off"
    class="col-6 mt-5"
  >
    <div class="row">
      <div class="mb-3 col p-0">
        <label class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="model.name"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-6 p-0">
        <label class="form-label">Duration</label>
        <input
          type="number"
          class="form-control"
          name="duration"
          [(ngModel)]="model.duration"
          step="5"
          value="0"
          required
        />
      </div>
      <div class="mb-3 col-6 pe-0">
        <label class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          name="defaultPrice"
          [(ngModel)]="model.defaultPrice"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col p-0">
        <label class="lh form-label">Description</label>
        <textarea
          class="form-control textarea"
          name="description"
          [(ngModel)]="model.description"
          placeholder="..."
          cols="2"
        ></textarea>
      </div>
    </div>
    <hr />
    <div class="mt-2">
      <button
        class="btn btn-success me-2"
        type="submit"
        [disabled]="!apptTypeForm.valid"
      >
        Save
      </button>
      <button class="btn btn-secondary me-2" (click)="cancel()" type="button">
        Cancel
      </button>
    </div>
  </form>
</div>
