/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
      vertical-align: middle;
 }

 .required-asterisk{
      color: red;
      font-weight: bold;
      margin-left: 3px;
      font-size: 1.2em;
  }

  .btn-vertical-line{
      margin: 0px 8px;
      height: 25px;
      display: inline-block;
      width: 1px;
      background-color: white;
      vertical-align: bottom;
 }
 .lh{
      line-height: 30px;
 }
 .row{
      margin: 0px;
 }
 .textarea{
      font-size: 0.8rem;
 }