/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    font-family: 'Noto Serif', serif;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    vertical-align: middle;
 }

 .required-asterisk{
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
  }

  .btn-vertical-line{
    margin: 0px 8px;
    height: 25px;
    display: inline-block;
    width: 1px;
    background-color: white;
    vertical-align: bottom;
 }
 .lh{
      line-height: 30px;
 }
 .row{
    margin: 0px;
 }
 .textarea{
    font-size: 0.8rem;
 }
 .cal-disabled{
    background-color: rgb(231, 231, 231);
    pointer-events: none;
 }
 .cal-week-view .cal-event{
    color: #000000;
 }
 .invalid{
    margin-top: 0.25rem;
    margin-left: 1rem;
    font-size: 0.875em;
    color: #df382c;
 }
 .btn-action{
    padding: 3px 9px;
 }
 .link{
    cursor: pointer;
    color: #007bff; 
 }
 .minus-icon{
    cursor: pointer;
    color: red;
 }
 .actions-column{
    width: 13%;
    text-align: center;
 }
.form-check-input{
    cursor: pointer;
}
.form-label{
    margin-bottom: 4px;
    color: #5a5a5a;
    font-size: 0.9rem;
}

.tab-panel {
   border: 1px solid #ddd;
   padding: 10px;
   border-radius: 4px;
 }
 
 .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
   border-bottom: 4px solid #fbcdcf;
 }
 
 .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
   border: 0;
   background: none !important;
   color: #333333;
 }
 
 .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
   color: #a6a6a6;
 }
 
 .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
   margin-top: 0px;
 }
 
 .member-tabset > .nav-tabs > li.active {
   border-bottom: 4px solid #E95420;
   position: relative;
 }
 
 .member-tabset > .nav-tabs > li.active > a {
   border: 0 !important;
   color: #333333;
 }
 
 .member-tabset > .nav-tabs > li.active > a > i {
   color: #404040;
 }
 
 .member-tabset > .tab-content {
   margin-top: -3px;
   background-color: #fff;
   border: 0;
   border-top: 1px solid #eee;
   padding: 15px 0;
 }
.cal-week-view .cal-time{
   padding-top: 0px;
}
.cal-week-view .cal-hour-segment.cal-after-hour-start .cal-time{
   display: block;
   color: lightgray;
   font-weight: 500;
}
.cal-time-label-column .cal-hour mwl-calendar-week-view-hour-segment:nth-of-type(3n+1) .cal-time{
   color: black;
   font-weight: bold;
}
.cal-day-columns .cal-hour mwl-calendar-week-view-hour-segment:nth-of-type(3n+1) .cal-time{
   color: black;
   font-weight: bold;
}
.cal-time{
   font-size: 14px
}
.cal-time-label-column .cal-hour-segment{
   background-color: inherit !important;
}
.scroll-container {
   height: calc(100vh - 320px);
   overflow-y: auto;
 }
 .cal-day-headers{
   position: sticky;
   top: 0px;
   z-index: 1000;
   background-color: white;
   border-top : solid 1px #e1e1e1 !important
}
 .cal-header{
   background-color: white;
 }
 .cal-week-view{
   border-top: 0;
 }
 body.modal-open{
   overflow-y: auto !important;
 }
.small-text{
   font-size: small;
}
.custom-tooltip .tooltip-inner{
   background-color: rgb(50, 50, 50);
}
.ng-select.ng-select-disabled>.ng-select-container{
   background-color: #e9ecef;
}