/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
      vertical-align: middle;
 }

 .required-asterisk{
      color: red;
      font-weight: bold;
      margin-left: 3px;
      font-size: 1.2em;
  }

  .btn-vertical-line{
      margin: 0px 8px;
      height: 25px;
      display: inline-block;
      width: 1px;
      background-color: white;
      vertical-align: bottom;
 }
 .lh{
      line-height: 30px;
 }
 .row{
      margin: 0px;
 }
 .textarea{
      font-size: 0.8rem;
 }
 .cal-week-view .cal-event{
     color: #000000;
 }
 .invalid{
     margin-top: 0.25rem;
     margin-left: 1rem;
     font-size: 0.875em;
     color: #df382c;
 }
 .btn-action{
     padding: 3px 9px;
 }
 .link{
      cursor: pointer;
     color: #007bff; 
 }