.counter{
    width: 22px;
    border-radius: 20px;
    display: inline-block;
    color: white;
    background-color: #e95420;
}
.appt-list{
    min-height: 400px;
    border-top: 1px solid lightgray; 
    padding-top: 20px
}
