<div class="container my-5" style="min-height: 300px">
  <tabset type="pills" [justified]="true">
    <tab class="mt-3">
      <ng-template tabHeading
        >Scheduled
        <span class="counter">{{ scheduledCount }}</span></ng-template
      >
      <app-appointment-table
        [appointments]="appointments"
        status="Scheduled"
        (editAppt)="onEdit($event)"
        (completeAppt)="onComplete($event)"
        (cancelAppt)="onCancel($event)"
      ></app-appointment-table>
    </tab>
    <tab class="mt-3">
      <ng-template tabHeading
        >Pending <span class="counter">{{ pendingCount }}</span></ng-template
      >
      <app-appointment-table
        [appointments]="appointments"
        status="Pending"
        (editAppt)="onEdit($event)"
        (completeAppt)="onComplete($event)"
        (cancelAppt)="onCancel($event)"
      ></app-appointment-table>
    </tab>
    <tab class="mt-3">
      <ng-template tabHeading
        >Canceled <span class="counter">{{ canceledCount }}</span></ng-template
      >
      <app-appointment-table
        [appointments]="appointments"
        status="Canceled"
        (editAppt)="onEdit($event)"
        (completeAppt)="onComplete($event)"
        (cancelAppt)="onCancel($event)"
      ></app-appointment-table>
    </tab>
    <tab class="mt-3">
      <ng-template tabHeading
        >Completed
        <span class="counter">{{ completedCount }}</span></ng-template
      >
      <app-appointment-table
        [appointments]="appointments"
        status="Completed"
        (editAppt)="onEdit($event)"
        (completeAppt)="onComplete($event)"
        (cancelAppt)="onCancel($event)"
      ></app-appointment-table>
    </tab>
  </tabset>
</div>
