<div class="container my-5">
  <table class="table table-bordered" *ngIf="appointmentStatuses">
    <thead>
      <th>Day</th>
      <th>From</th>
      <th>To</th>
      <th>Barber</th>
      <th>Client</th>
      <th class="actions-column">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let appt of appointments">
        <td>
          {{ appt.startsAt | formatDate: "EEEE" }}
        </td>
        <td>
          {{ appt.startsAt | formatDate: "HH:mm" }}
        </td>
        <td>
          {{ appt.endsAt | formatDate: "HH:mm" }}
        </td>
        <td>
          {{ appt.barber.fullName }}
        </td>
        <td>{{ appt.client?.fullName }}</td>
        <td>
          <button class="btn btn-action" (click)="onEdit(appt)" title="Edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-action"
            *ngIf="appt.appointmentStatusId === scheduledStatus.id"
            (click)="onCancel(appt.id)"
            title="Cancel"
          >
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-action"
            (click)="onComplete(appt.id)"
            *ngIf="appt.appointmentStatusId === scheduledStatus.id"
            title="Complete"
          >
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
