<div class="container my-5">
  <tabset>
    <tab heading="Scheduled ({{ scheduledCount }})">
      <app-appointment-table
        [appointments]="appointments"
        status="Scheduled"
        (editAppt)="onEdit($event)"
        (completeAppt)="onComplete($event)"
        (cancelAppt)="onCancel($event)"
      ></app-appointment-table>
    </tab>
    <tab heading="Pending ({{ pendingCount }})">
      <app-appointment-table
        [appointments]="appointments"
        status="Pending"
        (editAppt)="onEdit($event)"
        (completeAppt)="onComplete($event)"
        (cancelAppt)="onCancel($event)"
      ></app-appointment-table>
    </tab>
    <tab heading="Canceled ({{ canceledCount }})">
      <app-appointment-table
        [appointments]="appointments"
        status="Canceled"
        (editAppt)="onEdit($event)"
        (completeAppt)="onComplete($event)"
        (cancelAppt)="onCancel($event)"
      ></app-appointment-table>
    </tab>
    <tab heading="Completed ({{ completedCount }})">
      <app-appointment-table
        [appointments]="appointments"
        status="Completed"
        (editAppt)="onEdit($event)"
        (completeAppt)="onComplete($event)"
        (cancelAppt)="onCancel($event)"
      ></app-appointment-table>
    </tab>
  </tabset>
</div>
