.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 30px;
  padding-top: 0px;
  margin: auto;
  background-color: #e2e2e2;
  border: 1px solid rgba(85, 85, 85, 0.8);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 15px;
  margin-top: 40px;
  color: rgb(32, 32, 32);
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-submit {
  background-color: #2e86ab;
  color: white;
}
.btn-submit:hover {
  background-color: #205e79;
}
.img {
  padding: 20px;
  padding-top: 30px;
}
