<div>
  <div class="d-flex justify-content-end mt-3 mb-2">
    <button class="btn btn-primary" routerLink="/appointment-types/create">
      <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
      New Appt Type
    </button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Appointment Type</th>
        <th>Duration</th>
        <th class="actions-column">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type of appointmentTypes">
        <td>
          <div class="d-flex">
            <span
              [style.backgroundColor]="type.color"
              class="color-circle me-2"
            ></span>
            {{ type.name }}
          </div>
        </td>
        <td>
          {{ type.duration }}
        </td>
        <td style="text-align: center">
          <button
            class="btn btn-action me-1"
            (click)="onEdit(type.id)"
            title="Edit"
          >
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-action"
            (click)="onDelete(type.id)"
            title="Delete"
          >
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
