<div class="mt-3 container">
  <div class="d-flex justify-content-end my-2">
    <button class="btn btn-primary">New</button>
  </div>

  <table class="table table-bordered">
    <thead>
      <th>Color</th>
      <th>Name</th>
      <th>Duration</th>
    </thead>
    <tbody>
      <tr *ngFor="let type of appointmentTypes">
        <td>
          <span
            [style.backgroundColor]="type.color"
            class="color-circle"></span>
        </td>
        <td>
          {{ type.name }}
        </td>
        <td>
          {{ type.duration }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
