<div>
  <div class="d-flex justify-content-end mt-3 mb-2">
    <button class="btn btn-primary" routerLink="/appointment-types/create">
      <i class="fa fa-plus-circle mr-1" aria-hidden="true"></i>
      New Appt Type
    </button>
  </div>

  <table class="table table-bordered">
    <thead>
      <th>Appointment Type</th>
      <th>Duration</th>
      <th style="width: 13%">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let type of appointmentTypes">
        <td>
          <span
            [style.backgroundColor]="type.color"
            class="color-circle mr-2"
          ></span>
          {{ type.name }}
        </td>
        <td>
          {{ type.duration }}
        </td>
        <td style="text-align: center">
          <button class="btn btn-info mr-1" (click)="onEdit(type.id)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" (click)="onDelete(type.id)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
