<div class="container">
  <div class="modal-header">
    <h5>Edit Appointment Type</h5>
  </div>

  <div class="modal-body">
    <form
      #apptTypeForm="ngForm"
      (ngSubmit)="onUpdate()"
      autocomplete="off"
      *ngIf="resource !== undefined"
    >
      <div class="row">
        <div class="form-group col-10 p-0">
          <label class="lh">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="resource.name"
            placeholder="Enter name"
            required
          />
        </div>
        <div class="form-group col-2">
          <label class="lh">Color</label>
          <input
            [(colorPicker)]="resource.color"
            [style.background]="resource.color"
            class="form-control color-picker"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4 p-0">
          <label>Duration</label>
          <input
            type="number"
            class="form-control"
            name="duration"
            [(ngModel)]="resource.duration"
            placeholder="Duration"
            step="5"
            value="0"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col p-0">
          <label for="service">Choose services</label>
          <ng-select
            [items]="services"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="selectedServices"
            [multiple]="true"
            [closeOnSelect]="false"
            [markFirst]="true"
            [hideSelected]="true"
            name="services"
            required
          >
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="form-group p-0">
          <button
            class="btn btn-success mr-2"
            type="submit"
            [disabled]="!apptTypeForm.valid"
          >
            Save
          </button>
          <button class="btn btn-danger mr-2" (click)="cancel()" type="button">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
