.full-width {
    width: 99.5vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.appt-sidebar{
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 25px;
}