<div class="full-width">
  <div class="row">
    <div class="col-2 appt-sidebar">
      <h5>Filters</h5>
      <hr />
      <div class="mb-2">
        <label class="lh" for="barber">Barber</label>
        <ng-select
          [items]="barbers$ | async"
          bindLabel="fullName"
          bindValue="id"
          [multiple]="true"
          [closeOnSelect]="false"
          [markFirst]="true"
          [hideSelected]="true"
          name="barber"
          id="barber"
          (change)="onChangeBarber()"
          [(ngModel)]="params.barberIds"
          placeholder="Select a barber..."
        >
        </ng-select>
      </div>
      <div class="mb-2">
        <label class="lh" for="status">Appointment Status</label>
        <ng-select
          [items]="appointmentStatuses"
          bindLabel="name"
          bindValue="id"
          [multiple]="true"
          [closeOnSelect]="false"
          [markFirst]="true"
          [hideSelected]="true"
          name="status"
          id="status"
          (change)="onChangeStatus()"
          [(ngModel)]="params.statusIds"
          placeholder="Select a status..."
        >
        </ng-select>
      </div>

      <div class="appointment-types">
        <h5>Appointment Types</h5>
        <hr />
        <div *ngFor="let type of appointmentTypes$ | async">
          <div class="d-flex mt-2">
            <span
              [style.backgroundColor]="type.color"
              class="color-circle me-2"
            ></span>
            <span>
              {{ type.name }}
            </span>
          </div>
          <ng-container *appHasRole="'Client'">
            <div *ngFor="let service of type.services" class="ms-5">
              <span class="service-text">- {{ service.name }} </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-8">
      <h3>Appointments</h3>
      <hr />
      <app-schedule
        (getAppointments)="onGetAppointments($event)"
        (openEditModal)="onEdit($event)"
        [appointments]="appointments$ | async"
        [takenSlots]="takenSlots$ | async"
      ></app-schedule>
      <app-appointment-list
        [appointments]="appointments$ | async"
        (openEditModal)="onEdit($event)"
        (getAppointments)="loadAppointments()"
      ></app-appointment-list>
    </div>
  </div>
</div>
