.collapsible{
    border-bottom: 1px solid rgb(197, 196, 196);
    padding: 10px;
    position: relative;
}
.collapsible-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
}
.custom-margin{
    margin-top: 34.5px;
}
#collapseWorkingHours{
    min-height: 770px;
}
.timepicker{
    display: flex;
    justify-content: center;
}