<div class="mt-0">
  <h3>Clients</h3>
  <hr />
  <div class="d-flex justify-content-end mt-3 mb-2">
    <button class="btn btn-primary" routerLink="/clients/create">
      <i class="fa fa-plus-circle mr-1" aria-hidden="true"></i>
      New Client
    </button>
  </div>

  <table class="table table-bordered">
    <thead>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th style="width: 13%">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients | async">
        <td class="td">
          <img
            src="{{ client.photo?.url || './assets/images/user.png' }}"
            alt="{{ client.fullName }}"
            class="img"
          />
        </td>
        <td>
          {{ client.fullName }}
        </td>
        <td>
          {{ client.email }}
        </td>
        <td>
          {{ client.phoneNumber }}
        </td>
        <td style="text-align: center">
          <button class="btn btn-info mr-1" (click)="onEdit(client.id)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" (click)="onDelete(client.id)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
