<div class="container"  style="margin-top: 95px;">
<div class="row">
    <div class="mt-5">
      <h3>{{ client.fullName }}</h3>
      <hr />
    </div>
    <div class="row">
      <div class="col-3">
        <div class="card">
          <img
            src="{{ client?.photo?.url|| 'assets/images/user.png' }}"
            alt="{{ client.fullName }}"
            class="card-img-top img-thumbnail"
          />
          <div class="card-body">
            <div>
              <strong>Age:</strong>
              <p>{{ client?.dateOfBirth | date:'dd MMM yyyy' }}</p>
            </div>
            <div>
              <strong>Phone:</strong>
              <p>{{ client?.phoneNumber }}</p>
            </div>
            <div>
              <strong>Email:</strong>
              <p>{{ client?.email }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-9">
        <tabset class="client-tabset" #clientTabs>
        <tab heading="Messages">
          <app-member-messages [username]="client.username"></app-member-messages>
        </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
  