<div *ngIf="barber">
  <div class="mt-5">
    <h3>{{ barber.fullName }}</h3>
    <hr />
  </div>
  <div class="d-flex justify-content-end mb-2">
    <div *appHasRole="'Admin'">
      <button
        class="btn btn-primary"
        routerLink="{{ '/barber/edit/' + barber.id }}"
      >
        Edit
      </button>
      <button class="btn btn-danger ms-1" (click)="onDelete(barber.id)">
        Delete
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img
          src="{{ barber.photo?.url || 'assets/images/user.png' }}"
          alt="{{ barber.fullName }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <div>
            <strong>Age:</strong>
            <p>{{ barber.age }}</p>
          </div>
          <div>
            <strong>Phone:</strong>
            <p>{{ barber.phoneNumber }}</p>
          </div>
          <div>
            <strong>Email:</strong>
            <p>{{ barber.email }}</p>
          </div>
          <div>
            <strong>Info:</strong>
            <p>{{ barber.info }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-9">
      <tabset class="barber-tabset" #barberTabs>
        <tab heading="Services">
          <div class="container my-4" *ngIf="barber.barberServices.length > 0">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 60%">Name</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bs of barber.barberServices">
                  <td>
                    {{ bs.service.name }}
                  </td>
                  <td>
                    {{ bs.price }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
