<div class="mt-0">
  <div class="d-flex justify-content-end mt-3 mb-2">
    <button class="btn btn-primary" routerLink="/services/create">
      <i class="fa fa-plus-circle mr-1" aria-hidden="true"></i>
      New Service
    </button>
  </div>

  <table class="table table-bordered">
    <thead>
      <th>Service</th>
      <th>Duration</th>
      <th>Default Price</th>
      <th style="width: 13%">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>
          {{ service.name }}
        </td>
        <td>
          {{ service.duration }}
        </td>
        <td>
          {{ service.defaultPrice }}
        </td>
        <td style="text-align: center">
          <button class="btn btn-info mr-1" (click)="onEdit(service.id)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" (click)="onDelete(service.id)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
