.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.logo {
  max-height: 40px;
  max-width: 130px;
  display: inline;
}

a:hover{
  text-decoration: none;
}

.profilePhoto {
  max-height: 40px;
  border: 1px solid white;
  display: inline;
}