<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img src="/assets/images/barbershop-logo.png" width="180" height="60" />
    </a>

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/appointments"
            routerLinkActive="active"
            >Appointments</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/barbers" routerLinkActive="active"
            >Barbers</a
          >
        </li>
      </ng-container>
    </ul>

    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <a class="dropdown-toggle text-light ml-2" dropdownToggle
        >Welcome {{ user.username | titlecase }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a
          class="dropdown-item"
          routerLink="{{
            '/edit-profile/' + (accountService.currentUser$ | async).username
          }}"
          *appHasRole="'Barber'"
          >Edit Profile</a
        >
        <div class="dropdown-divider" *appHasRole="'Barber'"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
