<div>
  <div class="modal-header">
    <h4>Edit Appointment</h4>
    <hr />
  </div>
  <div class="modal-body">
    <form
      #appointmentForm="ngForm"
      (ngSubmit)="updateAppointment()"
      autocomplete="off"
      class="p-2"
    >
      <div class="row">
        <div class="mb-3 col-8 p-0">
          <label class="lh form-label">Appointment Type</label>
          <ng-select
            [items]="appointmentTypes"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="model.appointmentTypeId"
            [multiple]="false"
            [closeOnSelect]="true"
            [markFirst]="true"
            [hideSelected]="true"
            [clearable]="false"
            name="appointmentTypes"
            required
            (change)="setAppointmentDuration()"
          >
          </ng-select>
        </div>
        <div class="mb-3 col-4 pe-0">
          <label class="lh form-label">Status</label>
          <ng-select
            [items]="appointmentStatuses"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="model.appointmentStatusId"
            [multiple]="false"
            [closeOnSelect]="true"
            [markFirst]="true"
            [hideSelected]="true"
            [clearable]="false"
            name="appointmentStatus"
            required
          >
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-6 p-0">
          <label class="lh form-label">Starts At: </label>
          <input
            type="text"
            placeholder="Select start time..."
            class="form-control"
            [(ngModel)]="model.startsAt"
            name="startDate"
            [bsConfig]="{
              withTimepicker: true,
              dateInputFormat: 'MMMM Do, HH:mm',
              containerClass: 'theme-red'
            }"
            bsDatepicker
            [daysDisabled]="[0]"
            (ngModelChange)="updateEndTime()"
            required
          />
        </div>
        <div class="mb-3 col-6 pe-0">
          <label class="lh form-label">Ends At:</label>
          <input
            type="text"
            placeholder="Select end time..."
            class="form-control"
            [(ngModel)]="model.endsAt"
            name="endsAt"
            [bsConfig]="{
              withTimepicker: true,
              dateInputFormat: 'MMMM Do, HH:mm',
              containerClass: 'theme-red'
            }"
            value=""
            bsDatepicker
            disabled
          />
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-6 p-0">
          <label class="lh form-label">Barber</label>
          <ng-select
            [items]="barbers"
            bindLabel="fullName"
            bindValue="id"
            [(ngModel)]="model.barberId"
            [multiple]="false"
            [closeOnSelect]="true"
            [markFirst]="true"
            [hideSelected]="true"
            [clearable]="false"
            name="barber"
            required
            placeholder="Choose a barber..."
          >
          </ng-select>
        </div>
        <div class="mb-3 col-6 pe-0">
          <label class="lh form-label">Client</label>
          <ng-select
            [items]="clients"
            bindLabel="fullName"
            bindValue="id"
            [(ngModel)]="model.clientId"
            [multiple]="false"
            [closeOnSelect]="true"
            [markFirst]="true"
            [hideSelected]="true"
            (scrollToEnd)="loadMoreClients()"
            name="clients"
          >
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-4 p-0">
          <label class="lh form-label">Duration</label>
          <input
            type="number"
            class="form-control"
            name="duration"
            [(ngModel)]="model.duration"
            placeholder="Duration"
            step="5"
            (change)="updateEndTime()"
            required
          />
        </div>
        <div class="mb-3 col-8 pe-0">
          <label class="lh form-label">Note</label>
          <textarea
            class="form-control textarea"
            name="note"
            [(ngModel)]="model.note"
            placeholder="..."
            cols="2"
          ></textarea>
        </div>
      </div>
      <hr />
      <div>
        <button
          class="btn btn-success me-2"
          type="submit"
          [disabled]="!appointmentForm.valid"
        >
          Save
        </button>
        <button class="btn btn-secondary me-2" (click)="cancel()" type="button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
