<div>
  <div class="modal-header">
    <h5>Edit Service</h5>
    <hr />
  </div>

  <div class="modal-body">
    <form
      #apptTypeForm="ngForm"
      (ngSubmit)="onUpdate()"
      autocomplete="off"
      *ngIf="resource !== undefined"
      class="p-2"
    >
      <div class="row">
        <div class="mb-3 col p-0">
          <label class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="resource.name"
            placeholder="Enter name"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-6 p-0">
          <label class="form-label">Duration</label>
          <input
            type="number"
            class="form-control"
            name="duration"
            [(ngModel)]="resource.duration"
            placeholder="Enter duration"
            step="5"
            value="0"
            required
          />
        </div>
        <div class="mb-3 col-6 pe-0">
          <label class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            name="defaultPrice"
            [(ngModel)]="resource.defaultPrice"
            placeholder="Enter default price"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col p-0">
          <label class="lh form-label">Description</label>
          <textarea
            class="form-control textarea"
            name="description"
            [(ngModel)]="resource.description"
            placeholder="..."
            cols="2"
          ></textarea>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="p-0">
          <button
            class="btn btn-success me-2"
            type="submit"
            [disabled]="!apptTypeForm.valid"
          >
            Save
          </button>
          <button
            class="btn btn-secondary me-2"
            (click)="cancel()"
            type="button"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
