<div>
  <div class="my-5">
    <h3>New Barber</h3>
    <hr />
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img
          src="{{ barber.photo?.url || './assets/images/user.png' }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-footer text-center p-0">
          <div class="d-flex align-items-center justify-content-center p-2">
            <label
              for="imageUpload"
              class="btn btn-secondary mx-1 mb-0"
              [ngClass]="loading ? 'disabled' : ''"
              >Choose Image</label
            >
            <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
            <input
              type="file"
              ng2FileSelect
              [uploader]="uploader"
              class="mt-2"
              id="imageUpload"
              *ngIf="!loading"
            />
          </div>
          <div>
            <span class="form-label">{{ fileName }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-9 barber-tabset ps-3">
      <div class="mb-4">
        <form #editProfileForm="ngForm" autocomplete="off">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName" class="lh form-label">First Name</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="barber.firstName"
                id="firstName"
                name="firstName"
                required
                maxLength="50"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName" class="lh form-label">Last Name:</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="barber.lastName"
                id="lastName"
                name="lastName"
                required
                maxlength="50"
              />
            </div>
          </div>
          <div class="mb-3">
            <label class="lh form-label" for="dateOfBirth"
              >Date Of Birth
            </label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="barber.dateOfBirth"
              name="dateOfBirth"
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-red'
              }"
              id="dateOfBirth"
              bsDatepicker
              required
            />
          </div>
          <div class="mb-3">
            <label for="phone" class="lh form-label">Phone</label>
            <label
              *ngIf="
                phoneNumber.invalid &&
                (phoneNumber.dirty || phoneNumber.touched) &&
                phoneNumber.errors?.pattern
              "
              class="invalid"
            >
              Phone Number is not in the correct format.
            </label>
            <input
              class="form-control"
              type="text"
              placeholder="(XXX)/XXX-XXX"
              [(ngModel)]="barber.phoneNumber"
              id="phoneNumber"
              name="phoneNumber"
              required
              pattern="\(?\d{3}\)?[-\/]?(\d{3,4})-?(\d{3})"
              #phoneNumber="ngModel"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="lh form-label">Email</label>
            <label
              *ngIf="
                email.invalid &&
                (email.dirty || email.touched) &&
                email.errors?.email
              "
              class="invalid"
            >
              Email is not in the correct format.
            </label>
            <input
              class="form-control"
              type="email"
              [(ngModel)]="barber.email"
              id="email"
              name="email"
              required
              email
              #email="ngModel"
            />
          </div>
          <div class="mb-3">
            <label class="lh form-label">Note</label>
            <textarea
              class="form-control textarea"
              name="note"
              [(ngModel)]="barber.info"
              placeholder="..."
              cols="2"
            ></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="buttons-margin">
      <button
        class="btn btn-success me-2"
        type="submit"
        [disabled]="!editProfileForm.valid || !editProfileForm"
        (click)="onCreate()"
      >
        Save
      </button>
      <button class="btn btn-secondary me-2" (click)="cancel()" type="button">
        Cancel
      </button>
    </div>
  </div>
</div>
